#page{
    margin:0px auto;
    width: 750px;
    height: 770px;
    padding: 0px;
    font-family: 黑宋;
}
#header{
    width: 750px;
    height: 60px;
}
#nav{
    width: 750px;
    height: 210px;
}
#article{
    width: 543px;
    height: 400px;
    float: right;
    margin-right: 12px;
}
#aside{
    width: 160px;
    height: 400px;
    float: left;
}
#footer{
    width: 750px;
    height: 60px;
    background-color: lightgray;
    text-align: center;
}
.ul1
{
    float:right;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
}
a
{
    width:2em;
    text-decoration:none;
    color:black;
    padding:0.6em 1em;
    border-right:1px solid black;
    font-weight: bolder;
}
.ul1 li {display:inline}
.li1:before{
    content: "风格名称：";
    font-weight: bolder;
}
.li2:before{
    content: "设计作者：";
    font-weight: bolder;
}
.li3:before{
    content: "CSS制作：";
    font-weight: bolder;
}
.li4:before{
    content: "发布时间：";
    font-weight: bolder;
}
.li5:before{
    content: "演示地址：";
    font-weight: bolder;
}
.li6:before{
    content: "风格简介：";
    font-weight: bolder;
}